@import "../bower_components/bootstrap/less/bootstrap";

body,
a,
.col .wrapper{
  .transition(background .4s);
  .transition(color .4s);
}
h2, .h2 {
  margin-top: 0px;
}

.btn {
  outline: none !important;
}

.jumbotron {
	margin-top: 20px;
}

.tweet {
	padding-bottom: 20px;
	p {
		padding: 0;
		margin: 0;
	}
}


.col {
	margin-bottom:20px;
	.wrapper {
		padding: 5px;
		border-radius: 0;
		border-radius: 5px;
	}
}
form{display: none}

.edit {
  background: #eee;
	a, a:hover, a:focus {
		color: #fff;
		text-decoration: underline;
	}
	.col {
		.wrapper {
			background-color: #5cb85c;
			border-color: #4cae4c;
			color: #fff;
			cursor: move;
		}
	}

	.jumbotron h1{display: none}
	form{display: block}
}


// Themes
.theme(@bgColor, @textColor, @actionColor, @headerColor, @linkColor){
  background:@bgColor;
  color:@textColor;
  .jumbotron{background-color: @headerColor}
  .btn-success{
    color: @textColor;
    background-color: @actionColor;
    border-color: @actionColor;
  }
  a{
    color: @linkColor
  }
  &.edit {
    a{
      color: @textColor;
    }
    .col .wrapper {
      background-color: @actionColor;
      border-color: @actionColor;
      color: @textColor;
    }
  }
}
.boostrap{

}
.cake{
  .theme(#ECE5CE, #774F38, #C5E0DC, #F1D4AF, #E08E79);

}
.electric{
  .theme(#fff, #C0D818, #F0F000, #F00078, #F00078);

}
.dracula{
  .theme(#202020, #B10101, #690101, #473939, #fff);

}