<div class="jumbotron text-center">
	<h1>Twitter Dashboard for fun</h1>
	<div>
		<form class="row">
			<div class="form-group col-lg-4">
				<label for="totalTweets">The number of tweets shown in each column.</label>
				<input type="number" class="form-control" id="totalTweets" ng-model="settings.count" value="30" placeholder="30">
			</div>
			<div class="form-group col-lg-4">
				<label for="theme">The overall palette/skin of the page.</label>
				<select id="theme" name="theme" class="form-control" ng-model="settings.theme" ng-change="updateTheme()">
					<option value="bootstrap">Bootstrap</option>
					<option value="cake">Cake</option>
					<option value="electric">Electric</option>
					<option value="dracula">Dracula</option>
				</select>
			</div>
			<div class="form-group col-lg-4">
				<label for="timeRange">The time range of the tweets shown.</label>
				<div>[TBD]</div>
			</div>
		</form>
	</div>
	<p class="text-center"><button class="btn btn-lg btn-success" role="button" ng-click="editmode = !editmode; edit();"> {{!editmode && 'Edit' || 'Save'}}</button></p>
</div>

<div class="row" ui-sortable="sortableOptions" ng-model="feeds">
	<div class="col col-lg-4" data-id="{{feed.screenName}}" ng-repeat="feed in feeds">
		<div class="wrapper">
			<h2>@{{feed.name}}</h2>
			<div class="tweet" ng-repeat="tweet in feed.data">
				<!--A well-formatted created_at date-->
				<p><small>{{ tweet.created_at | jsDate | date:"yyyy-MM-dd" }}</small></p>
				<!--A link to the tweet.-->
				<p><a href="{{tweet.entities.urls[0].url}}">{{tweet.entities.urls[0].url}}</a></p>
				<!--The tweet content-->
				<p>{{tweet.text}}</p>
				<!--todo: For retweets and mentions, the username should be included.-->
			</div>
		</div>
	</div>
</div>
